body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 1rem;
    background: #eee;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

menu {
    list-style: none;
    padding: 1rem;
}

li {
    margin-bottom: 1rem;
}

a {
    display: block;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.footer-adicional {

    display: inline-block;
    padding: 0.5rem; 
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: #333;
    margin-bottom: 1rem;

}

footer {
    margin-top: auto;
    text-align: center;
    padding: 1rem;
    background: #eee;
}
