/*
    Todas as telas com tabelas são meio parecidas (propositalmente, está nos fluxos, então achei descenessário
    criar um CSS individual para cada uma, porque provávelment eles iriam acabar todos iguais.... O mesmo vale para as telas de login
*/


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Merriweather', serif;
}

header {
    text-align: center;
    padding: 1rem;
    background: #be2929;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

form {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input { /* Necessário para o input da primeira tela de mesas */
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

table {
    width: auto;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

table, th, td {
    border: 2px solid #FAB30D; 
}

th, td {
    padding: 0.8rem; 
    text-align: left;
}

a {
    display: inline-block;
    padding: 0.5rem; 
    border: 1px solid #FA2017;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: #222;
    margin-bottom: 1rem;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 1rem;
    background: #be2929;
}

.vermelho {
    color: #FA2017

}

.azul {
    color: #3627FA
}

.verde {
    color: #25FD12
}

.mesa-ocupada {
    color: #FA2017;
    border-color: #FA2017
}