body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Merriweather', serif;
}

header {
    text-align: center;
    padding: 1rem;
    background: #be2929;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

a {
    display: inline-block;
    padding: 0.5rem;
    border: 1px solid #be2929;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: #222;
    margin-bottom: 1rem;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 1rem;
    background: #be2929;
}

.footer-adicional {

    display: inline-block;
    padding: 0.5rem; 
    border: 1px solid #FA2017;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: #222;
    margin-bottom: 1rem;

}

.produto {

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;

}

.quantidade-container {

    display: flex;
    align-items: center;
    margin-top: 0.5rem;

}

.botao-quantidade {

    margin: 0 0.2rem;
    padding: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    cursor: pointer;
        
}